// _themes.scss

// Theme 1
$theme1-background: #141414;
$theme1-keypad-bg: #222222;
$theme1-screen-bg: #242424;
$theme1-key-toggle-bg: #d03f2f;
$theme1-key-grey-bg: #eae3dc;
$theme1-text: #444b5a;
$theme1-text-white: #ffffff;

// Theme 2
$theme2-background: #200000;
$theme2-keypad-bg: #130000;
$theme2-screen-bg: #7000008e;
$theme2-key-toggle-bg: #b90000;
$theme2-key-grey-bg: #470000;
$theme2-text: #ffffff;
$theme2-text-white: #ffffff;

// Theme 3
$theme3-background: #130029;
$theme3-keypad-bg: #0b0018;
$theme3-screen-bg: #1e0041;
$theme3-key-toggle-bg: #200053;
$theme3-key-grey-bg: #11002c;
$theme3-text: #ffffff;
$theme3-text-white: #ffffff;
